html {
  background-color: #c9b5ab;
}

.links {
  color: #8f2440;
  line-height: 1.5rem;
  font-size: 1.125rem;
  font-weight: bolder;
  font-family: "PT Sans", serif;
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}

img {
  width: 100%;
}

a {
  list-style: none;
  list-style-type: lower-roman;
  font-family: "PT Serif", serif;
  text-decoration: none;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", serif;
}

h1 {
  font-family: "PT Sans", serif;
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
}

p {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.first {
  font-weight: bold;
}

.quote {
  line-height: 1.5rem;
  font-style: italic;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

cite {
  font-size: 0.8rem;
}

dt {
  font-weight: bold;
}

.b {
  font-weight: bold;
}

figcaption {
  font-style: italic;
  font-size: 0.8rem;
}

ul {
  list-style-type: circle;
  font-size: 0.8rem;
}
