html {
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "PT Sans", serif;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", serif;
  font-weight: bolder;
}

a:hover {
  background-color: #3f1622;
  color: #8f2440;
  text-decoration: none;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

ol {
  color: #8f2440;
  line-height: 1.5rem;
  font-size: 1.125rem;
  font-weight: bolder;
  font-family: "PT Sans", serif;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 1.5rem;
}

.first {
  font-weight: bold;
}

.quote {
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-family: "PT Serif", serif;
}

.quote cite {
  font-size: 0.8rem;
}

figcaption {
  font-style: italic;
  font-size: 0.8rem;
}

.list-a {
  font-family: "PT Serif", serif;
  color: #222;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.5rem;
  list-style-type: lower-greek;
}

.list-c {
  list-style-type: decimal;
  font-size: 0.8rem;
  line-height: normal;
  text-decoration: none;
}

.part-list-b {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8rem;
}

.list-b {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

dt {
  font-weight: bold;
}
